html {
  text-align: center;
  font-family: Helvetica;
}

h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
  color: black;
}

h3 {
  font-size: 23px;
  color: black;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#design_header {
  color: white;
  font-size: 23px;
  font-weight: bold;
}

#footer {
  color: white;
  text-align: left;
  background-color: dimgray;
}

#trademark {
  font-size: 11px;
  float: left;
  line-height: 2px;
}
