html {
  text-align: center;
  font-family: Helvetica;
}

h1, h2, h3 {
  font-weight: bold;
}

#header {
  background-image: url("/home/alden/Documents/ProjectBroadway/resources/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  font-size: 32px;
  color: black;
}

h3 {
  font-size: 23px;
  color: black;
}

p {
  font-size: 14px;
}

a {
  font-weight: bold;
  color: white;
}

#design_header {
  color: white;
  font-size: 23px;
  font-weight: bold;
  background-image: url("/home/alden/Documents/ProjectBroadway/resources/images/the-flatiron-building.png")
}

#footer {
  color: white;
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
}

#trademark {
  float: left;
  font-size: 11px;
  line-height: 0px;
  padding-right: 5px;
}
